@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css?family=Rubik:regular,500,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 14px;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.form * {
  outline: none;
}

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Подключение шрифтов @import url('________ &display=swap');*/
/* мексины */
/* переменные */
/* общие классы */
body {
  font-family: Rubik;
  font-weight: 400;
  font-size: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  max-width: 1920px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1426px;
  margin: 0px auto;
  padding: 0px 15px;
}

/* повторяющиеся классы */
.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 16.5px 35.5px;
  background-color: #F1D264;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 5px;
}
.btn path {
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}
.btn .btn-text {
  padding-left: 12px;
  white-space: nowrap;
}
.btn:hover {
  background-color: #535658;
  color: #FFFFFF;
}
.btn:hover path {
  fill: #FFFFFF;
}
.btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

/* иконки */
/* popular-products */
.popular-products {
  padding: 80px 0;
}
.popular-products__slider {
  height: 496px;
  position: relative;
  display: none;
  min-width: 0;
}
.popular-products__slider_2 {
  text-align: center;
  width: 100%;
  height: 40px;
  color: #535658;
  font-size: 3rem;
}
.popular-products__slider.active {
  display: block;
}
@media (max-width: 380px) {
  .popular-products__slider {
    height: 441px;
    overflow: auto;
  }
}
.popular-products__swiper {
  height: 100%;
  position: relative;
}
.header-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px 25px;
  margin-bottom: 40px;
}
@media (max-width: 767.98px) {
  .header-products {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.header-products__title {
  font-weight: 700;
  font-size: 34px;
  font-size: 34px;
  line-height: 117.647059%; /* 40px/34 */
  text-transform: uppercase;
}
@media (max-width: 1426px) {
  .header-products__title {
    font-size: calc(18px + 16 * ((100vw - 320px) / 1106));
  }
}
.header-products__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 24px;
  line-height: 141.666667%; /* 34px/24 */
  display: flex;
  gap: 5px 25px;
  color: #535658;
}
@media (max-width: 1426px) {
  .header-products__links {
    font-size: calc(14px + 10 * ((100vw - 320px) / 1106));
  }
}
@media (max-width: 479.98px) {
  .header-products__links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.header-products__link {
  border-bottom: 1px dashed rgb(83, 86, 88);
  color: #535658;
}
.header-products__link.active {
  font-weight: 700;
  font-size: 34px;
  font-size: 34px;
  line-height: 117.647059%; /* 40px/34 */
  text-transform: uppercase;
  color: #000000;
  border-bottom: none;
}
@media (max-width: 1426px) {
  .header-products__link.active {
    font-size: calc(18px + 16 * ((100vw - 320px) / 1106));
  }
}

.item__swiper {
  height: 100%;
  overflow: hidden;
  border: 1px solid #ECF0F4;
  border-radius: 5px;
}
.item__wrapper {
  min-height: 496px;
}
.item__slide {
  height: 100%;
  width: 100%;
  overflow: hidden !important;
}
.item__top {
  display: block;
  position: relative;
  max-width: 100%;
}
.item__image {
  cursor: pointer;
  padding-top: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}
.item__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0px;
  left: 0px;
}
@media (max-width: 469.98px) {
  .item__image {
    padding-top: 0%;
    width: 100%;
    height: 260px;
  }
}
.item__image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.item__label {
  position: absolute;
  top: 20px;
  left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.item__label .none {
  display: none;
}
.item__icon {
  position: absolute;
  top: 20px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.item__favourites, .item__comparison {
  width: 34px;
  height: 34px;
  background-color: #FFFFFF;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}
.item__favourites:hover, .item__comparison:hover {
  background-color: #F1D264;
}

.swiper-pagination {
  bottom: 177px;
}

.slider-prev,
.slider-next {
  border: 1px solid rgb(236, 240, 244);
  border-radius: 5px;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
@media (max-width: 1515px) {
  .slider-prev,
.slider-next {
    bottom: -50px;
    top: auto;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@media (max-width: 600px) {
  .slider-prev,
.slider-next {
    display: none;
  }
}

.slider-prev {
  left: -86px;
}
.slider-prev::before {
  content: "";
  position: absolute;
  background-image: url("./img/icon/prev.svg");
  width: 12px;
  height: 21px;
}
@media (max-width: 1570px) {
  .slider-prev {
    left: -56px;
  }
}
@media (max-width: 1515px) {
  .slider-prev {
    left: 0px;
  }
}

.slider-next {
  right: -86px;
}
.slider-next::before {
  content: "";
  position: absolute;
  background-image: url("./img/icon/next.svg");
  width: 12px;
  height: 21px;
}
@media (max-width: 1570px) {
  .slider-next {
    right: -56px;
  }
}
@media (max-width: 1515px) {
  .slider-next {
    right: 0px;
  }
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 176px !important;
}
@media (max-width: 1220px) {
  .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 5px !important;
  }
}
@media (max-width: 600px) {
  .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    display: none;
  }
}

.swiper-pagination-bullet {
  height: 2px !important;
  width: 20px !important;
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.swiper-pagination-bullet-active {
  background-color: #F1D264 !important;
}

.footer-item {
  padding: 10px 25px 25px 25px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1515px) {
  .footer-item {
    padding: 10px 20px 20px 20px;
  }
}
@media (max-width: 1335px) {
  .footer-item {
    padding-top: 40px;
  }
}
@media (max-width: 360px) {
  .footer-item {
    padding-top: 10px;
  }
}
.footer-item__title {
  font-size: 15px;
  padding-bottom: 5px;
}
@media (max-width: 360px) {
  .footer-item__title {
    padding-bottom: 15px;
  }
}
.footer-item__prace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
}
@media (max-width: 360px) {
  .footer-item__prace {
    padding-bottom: 20px;
  }
}
.footer-item__prace-new {
  font-size: 1.25rem;
  font-weight: 700;
}
.footer-item__prace-old {
  font-size: 0.875rem;
  text-decoration: line-through;
  color: rgb(141, 146, 149);
}
.footer-item__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
@media (max-width: 1240px) {
  .footer-item__bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 10px;
  }
}
.footer-item__input {
  font-size: 1.125rem;
  color: rgb(76, 78, 80);
}

.quantity {
  position: relative;
  min-width: 100px;
  min-height: 50px;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgb(236, 240, 244);
  border-radius: 5px;
}
@media (max-width: 1515px) {
  .quantity {
    min-width: 60px;
    min-height: 25px;
  }
}
@media (max-width: 600px) {
  .quantity {
    display: none;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity input[type=number] {
  -moz-appearance: textfield;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quantity input {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.quantity input:focus {
  outline: 0;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  color: rgb(76, 78, 80);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 30px;
  width: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
}

.quantity-button.quantity-up {
  position: absolute;
  right: 2px;
}
@media (max-width: 1515px) {
  .quantity-button.quantity-up {
    right: -5px;
  }
}

.quantity-button.quantity-down {
  position: absolute;
  left: 2px;
}
@media (max-width: 1515px) {
  .quantity-button.quantity-down {
    left: -5px;
  }
}

.text-field__input[type=number], [type=text] {
  padding-left: 40px;
  font-weight: 500;
  font-size: 18px;
}